<body>
  

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class ="navbar-brand">Quote App</a>
    </div>
  </div>

</nav>
<div class="container">
<app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>

<hr><hr>
  <div class="jumbotron" *ngFor = 'let quote of userQuotes, let i = index'>
  <h2>"{{quote.message}}"</h2>

  <span><h4>{{quote.author}}</h4></span>
  <button class ="btn btn-primary" (click)='toggleDetails(i)'>Details</button>
  <br>
  
  <app-quote-metadata *ngIf = "quote.showMeta"[quote]='quote' (isDeleted)= 'quoteDelete($event,i)'></app-quote-metadata>
</div>
</div>
</body>
